html.sr animateMe {
	visibility: hidden;
}

body {
	font-family: 'Quicksand', Arial, sans-serif
}

header {
	height: 500px;
	width: 100vw;
	background-image: linear-gradient(rgba(120,120,120,.8), rgba(120,120,120,.9)), url("../img/bg3.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#about-circles span {
	height: 38px;
	width: 38px;
	background: white;
	z-index: 1;
}

#about-circles::before {
	content: "";
	background: rgba(156, 163, 175, .5);
    position: absolute;
    top: 19px;
    left:0;
    height: 2px;
    width: 100%;
}

#about-img::before {
	content: "";
	background: linear-gradient(135deg, #E3C3C3 0%, #C8C3E3 100%);
    position: absolute;
    top: -20px;
    left:-20px;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 7px
}